In [73]:
# Dependencies
import pandas as pd
import requests
import time
from splinter import Browser
from bs4 import BeautifulSoup
import pymongo

In [74]:
url_mars_nasa = 'https://mars.nasa.gov/news/'
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)
browser.visit(url_mars_nasa)

html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [75]:
news_title = news_soup.find_all('div', class_='content_title')[0].text
print(news_title)

NASA's Curiosity Rover Aims to Get Its Rhythm Back

In [76]:
news_p=news_soup.find_all('div', class_='article_teaser_body')[0].text
print(news_p)

Rover engineers at JPL will try to restore percussive drilling on Mars this week, part of a larger series of tests that will last through summer.

In [199]:
url_mars_nasa_img = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)
browser.visit(url_mars_nasa_img)

html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [201]:
mars_img = news_soup.find_all('a', class_='button fancybox')
mars_img_url_1=mars_img[0]['data-fancybox-href']
print(mars_img_url_1)
mars_img_url='https://www.jpl.nasa.gov'+mars_img_url_1
print(mars_img_url)

/spaceimages/images/mediumsize/PIA01322_ip.jpg
https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA01322_ip.jpg

In [44]:
url_facts = 'https://space-facts.com/mars/'

In [45]:
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [70]:
df = tables[0]
df.columns = ["Description","Value"]
df.head()

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [71]:
df=df.set_index("Description")
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [54]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [57]:
html_table=html_table.replace('\n', '')

In [94]:
print(df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [88]:
url_mars_weather = 'https://twitter.com/marswxreport?lang=en'
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)
browser.visit(url_mars_weather)

html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [89]:
text=news_soup.find_all('div', class_='js-tweet-text-container')[0].text

In [90]:
text=text.replace('\n', '')
text

'Sol 2054 (May 17, 2018), Sunny, high 4C/39F, low -72C/-97F, pressure at 7.40 hPa, daylight 05:21-17:20'

In [190]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars" 
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path)
browser.visit(url)
hemp={}
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')
title_list=[]
title= news_soup.find_all('h3')
for i in title:
    print(i.text)
    hemp["title"]=i.text
    title_list.append(i.text)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [ ]:
news_title = news_soup.find_all('div', class_='content_title')[0].text
mars_img = news_soup.find_all('a', class_='button fancybox')
mars_img_url=mars_img[0]['data-fancybox-href']
print(mars_img_url)

In [194]:
imgs= news_soup.find_all('img',class_='thumb')
#print(imgs)
img_list=[]
for i in imgs:
    #print(i["src"])
    hemp["img"]=i["src"]
    img_list.append(i["src"])

In [195]:
hemp

{'title': 'Valles Marineris Hemisphere Enhanced', 'img': '/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}

In [179]:
#hemp_list
a = hemp_list
hemp=dict((y, x) for y, x in a)
hemp
#hemp['title']

{'Cerberus Hemisphere Enhanced': '/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png', 'Schiaparelli Hemisphere Enhanced': '/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png', 'Syrtis Major Hemisphere Enhanced': '/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png', 'Valles Marineris Hemisphere Enhanced': '/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}